<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{league.list.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="flex flex-wrap mb-6">
        <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[${ligAdi + ' Puan Durumu'}]]</h1>
    </div>
    <div th:if="${teams.empty}">[[#{teams.leaguelist.empty}]]</div>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <div th:if="${!teams.empty}" class="overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-700 dark:text-gray-700">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        #
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Takım Adı
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Oynadığı Maç
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Galibiyet
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Beraberlik
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Mağlubiyet
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Attığı Gol
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Averaj
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Puan
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="teams, rowStat : ${teams}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <span th:text="${rowStat.count}"></span>
                    </th>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white bg-gray-50 dark:bg-gray-800">
                        <img th:if="${teams.filePath == null or teams.filePath.isEmpty()}" src="/images/default-teams-logo.png" class="inline-block w-8 h-8 mr-1">
                        <img th:if="${teams.filePath != null and !teams.filePath.isEmpty()}" th:src="@{|data:image;base64,${teams.filePath}|}" class="inline-block w-8 h-8 mr-1">
                        [[${teams.tName}]]
                    </td>
                    <td class="px-6 py-4">

                    </td>
                    <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">

                    </td>
                    <td class="px-6 py-4">

                    </td>
                    <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">

                    </td>
                    <td class="px-6 py-4">

                    </td>
                    <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">

                    </td>
                    <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                        [[${teams.tPoint}]]
                    </td>
                </tr>
                </tbody>
            </table>
                </div>
        </div>
    </div>
</body>
</html>