<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{competitions.list.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="flex flex-wrap mb-6">
        <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{competitions.list.headline}]]</h1>
        <div>
            <a th:href="@{/competitions/add}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2">[[#{competitions.list.createNew}]]</a>
        </div>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    [[#{competitions.id.label}]]
                </th>
                <th scope="col" class="px-6 py-3">
                    [[#{competitions.competitionName.label}]]
                </th>
                <th scope="col" class="px-6 py-3">
                    DÜZENLE
                </th>
                <th scope="col" class="px-6 py-3">
                    KALDIR
                </th>
            </tr>
            </thead>
            <tbody>
            <div th:if="${competitionses.empty}">[[#{competitions.list.empty}]]</div>
            <div th:if="${!competitionses.empty}" class="overflow-x-auto">
                <tr th:each="competitions : ${competitionses}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4 font-large text-gray-900 whitespace-nowrap dark:text-white">
                        [[${competitions.id}]]
                    </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        [[${competitions.competitionName}]]
                    </td>
                    <td class="px-6 py-4">
                        <a th:href="@{/competitionss/edit/{id}(id=${competitions.id})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">[[#{competitions.list.edit}]]</a>
                    </td>
                    <td class="px-6 py-4">
                        <form th:action="@{/competitionss/delete/{id}(id=${competitions.id})}"
                              th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm inline">
                            <button type="submit" class="font-medium text-red-600 dark:text-red-500 hover:underline">[[#{competitions.list.delete}]]</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
