<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{players.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{players.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/players}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2">[[#{players.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('players')}" />
            <form th:action="${requestUri}" method="post">
                <input type="submit" th:value="#{players.edit.headline}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6 mb-5" />
                <div th:replace="~{fragments/forms::inputRow(object='players', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='players', field='pName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='players', field='pSurname')}" />
                <div th:replace="~{fragments/forms::inputRow(object='players', field='pCountry')}" />
                <div th:replace="~{fragments/forms::inputRow(object='players', field='pWeight', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='players', field='pHeight', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='players', field='pPosition')}" />
                <div th:replace="~{fragments/forms::inputRow(object='players', field='pPlayerAge')}" />
                <div th:replace="~{fragments/forms::inputRow(object='players', field='pValue')}" />
                <div th:replace="~{fragments/forms::inputRow(object='players', field='pFoot')}" />
                <div th:replace="~{fragments/forms::inputRow(object='players', field='toTeams', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='players', field='toCountryPlayers', type='select')}" />
                <input type="submit" th:value="#{players.edit.headline}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
            </form>
        </div>
    </body>
</html>
