<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">[[#{app.title}]]</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link th:if="${!isDevserver}" th:href="@{/css/bundle.css}" rel="stylesheet" />
        <script th:src="@{/js/bundle.js}" defer></script>
    </head>
    <body>
        <header class="bg-gray-50">
            <div class="container px-4 md:px-6">
                <nav class="flex flex-wrap items-center justify-between py-2">
                    <a th:href="@{/}" class="flex py-1.5 mr-4">
                        <img th:src="@{/images/logo.png}" th:alt="#{app.title}" width="30" height="30" class="inline-block">
                        <span class="text-xl pl-3">[[#{app.title}]]</span>
                    </a>
                    <button type="button" class="js-dropdown md:hidden border rounded" data-dropdown-single="true"
                            th:aria-label="#{navigation.toggle}" aria-controls="navbarToggle" aria-expanded="false">
                        <div class="space-y-1.5 my-2.5 mx-4">
                            <div class="w-6 h-0.5 bg-gray-500"></div>
                            <div class="w-6 h-0.5 bg-gray-500"></div>
                            <div class="w-6 h-0.5 bg-gray-500"></div>
                        </div>
                    </button>
                    <div class="hidden md:block flex grow md:grow-0 justify-end basis-full md:basis-auto pt-3 md:pt-1 pb-1" id="navbarToggle">
                        <ul class="flex">
                            <li>
                                <a th:href="@{/}" class="text-gray-500 p-2">[[#{navigation.home}]]</a>
                            </li>
                            <li class="relative">
                                <a class="js-dropdown text-gray-500 p-2" href="#" id="navbarEntitiesLink" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>[[#{navigation.entities}]]</span>
                                    <span class="text-[9px] align-[3px] pl-0.5">&#9660;</span>
                                </a>
                                <ul class="hidden block absolute right-0 bg-white border border-gray-300 rounded min-w-[10rem] py-2 mt-2" aria-labelledby="navbarEntitiesLink">
                                    <li><a th:href="@{/playerss}" class="inline-block w-full hover:bg-gray-200 px-4 py-1">[[#{players.list.headline}]]</a></li>
                                    <li><a th:href="@{/teamss}" class="inline-block w-full hover:bg-gray-200 px-4 py-1">[[#{teams.list.headline}]]</a></li>
                                    <li><a th:href="@{/countries}" class="inline-block w-full hover:bg-gray-200 px-4 py-1">[[#{country.list.headline}]]</a></li>
                                    <li><a th:href="@{/leagues}" class="inline-block w-full hover:bg-gray-200 px-4 py-1">[[#{league.list.headline}]]</a></li>
                                    <li><a th:href="@{/competitionss}" class="inline-block w-full hover:bg-gray-200 px-4 py-1">[[#{competitions.list.headline}]]</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main class="my-12">
            <div class="container px-4 md:px-6">

                <div th:if="${MSG_INFO}"id="alert-border-1" class="flex items-center p-4 mb-4 text-blue-800 border-t-4 border-blue-300 bg-blue-50 dark:text-blue-400 dark:bg-gray-800 dark:border-blue-800" role="alert">
                    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <div class="ms-3 text-sm font-medium">
                        [[${MSG_INFO}]]
                    </div>
                </div>
                <div th:if="${MSG_ERROR}" id="alert-border-2" class="flex items-center p-4 mb-4 text-red-800 border-t-4 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800" role="alert">
                    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <div class="ms-3 text-sm font-medium">
                        [[${MSG_ERROR}]]
                    </div>
                </div>
                <div th:if="${MSG_SUCCESS}" id="alert-border-3" class="flex items-center p-4 mb-4 text-green-800 border-t-4 border-green-300 bg-green-50 dark:text-green-400 dark:bg-gray-800 dark:border-green-800" role="alert">
                    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <div class="ms-3 text-sm font-medium">
                        [[${MSG_SUCCESS}]]
                    </div>
                </div>

                <div layout:fragment="content" />
            </div>
        </main>
    </body>
</html>
