<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{teams.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{teams.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/teams}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2">[[#{teams.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('teams')}" />
            <form th:action="${requestUri}" method="post" enctype="multipart/form-data">
                <div th:replace="~{fragments/forms::inputRow(object='teams', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='teams', field='tName')}" />
                <div class="md:grid grid-cols-12 col-span-2 gap-4 mb-4">
                    <label class="col-span-2 py-2"><span>Logo Yükle</span></label>
                    <div class="col-span-10">
                        <input class="text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                               aria-describedby="user_avatar_help" name="logo" value="logo" th:object="${teams}"
                               th:field="*{pathFile}" type="file">
                    </div>
                </div>
                <div th:replace="~{fragments/forms::inputRow(object='teams', field='tPoint', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='teams', field='tValue')}" />
                <div th:replace="~{fragments/forms::inputRow(object='teams', field='toCountry', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='teams', field='leaguesss', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='teams', field='toTeamstoCompetitions', type='multiselect')}" />
                <input type="submit" th:value="#{teams.edit.headline}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
            </form>
        </div>
    </body>
</html>
