<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{teams.list.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="py-2 px-6 bg-white flex items-center shadow-md shadow-black/5 sticky top-0 left-0 z-30">
        <button type="button" class="text-lg text-gray-600 sidebar-toggle">
            <i class="ri-menu-line"></i>
        </button>
        <ul class="flex items-center text-sm ml-4">
            <li class="mr-2">
                <a th:href="@{/admin}" class="text-gray-400 hover:text-gray-600 font-medium">[[#{navigation.home}]]</a>
            </li>
            <li class="text-gray-600 mr-2 font-medium">/</li>
            <li class="text-gray-600 mr-2 font-medium">[[#{teams.list.headline}]]</li>
        </ul>
        <ul class="ml-auto flex items-center">
            <li class="mr-1 dropdown">
                <button type="button" class="dropdown-toggle text-gray-400 w-8 h-8 rounded flex items-center justify-center hover:bg-gray-50 hover:text-gray-600">
                    <i class="ri-search-line"></i>
                </button>
                <div class="dropdown-menu shadow-md shadow-black/5 z-30 hidden max-w-xs w-full bg-white rounded-md border border-gray-100">
                    <form action="" class="p-4 border-b border-b-gray-100">
                        <div class="relative w-full">
                            <input type="text" class="py-2 pr-4 pl-10 bg-gray-50 w-full outline-none border border-gray-100 rounded-md text-sm focus:border-blue-500" placeholder="Arama...">
                            <i class="ri-search-line absolute top-1/2 left-4 -translate-y-1/2 text-gray-400"></i>
                        </div>
                    </form>
                    <li class="dropdown">
                        <button type="button" class="dropdown-toggle text-gray-400 w-8 h-8 rounded flex items-center justify-center hover:bg-gray-50 hover:text-gray-600">
                            <i class="ri-notification-3-line"></i>
                        </button>
                        <div class="dropdown-menu shadow-md shadow-black/5 z-30 hidden max-w-xs w-full bg-white rounded-md border border-gray-100">
                            <div class="flex items-center px-4 pt-4 border-b border-b-gray-100 notification-tab">
                                <button type="button" data-tab="notification" data-tab-page="notifications" class="text-gray-400 font-medium text-[13px] hover:text-gray-600 border-b-2 border-b-transparent mr-4 pb-1 active">Bildirimler</button>
                                <button type="button" data-tab="notification" data-tab-page="messages" class="text-gray-400 font-medium text-[13px] hover:text-gray-600 border-b-2 border-b-transparent mr-4 pb-1">Mesajlar</button>
                            </div>
                            <div class="my-2">
                                <ul class="max-h-64 overflow-y-auto" data-tab-for="notification" data-page="notifications">
                                    <li>
                                        <a href="#" class="py-2 px-4 flex items-center hover:bg-gray-50 group">
                                            <img src="https://placehold.co/32x32" alt="" class="w-8 h-8 rounded block object-cover align-middle">
                                            <div class="ml-2">
                                                <div class="text-[13px] text-gray-600 font-medium truncate group-hover:text-blue-500">Oyuncu oluşturuldu</div>
                                                <div class="text-[11px] text-gray-400">serhat5454 kullanıcısı</div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="max-h-64 overflow-y-auto hidden" data-tab-for="notification" data-page="messages">
                                    <li>
                                        <a href="#" class="py-2 px-4 flex items-center hover:bg-gray-50 group">
                                            <img src="https://placehold.co/32x32" alt="" class="w-8 h-8 rounded block object-cover align-middle">
                                            <div class="ml-2">
                                                <div class="text-[13px] text-gray-600 font-medium truncate group-hover:text-blue-500">Serhat KORKMAZ</div>
                                                <div class="text-[11px] text-gray-400">Problem var!</div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown ml-3">
                        <button type="button" class="dropdown-toggle flex items-center">
                            <img src="/images/default-profile-photo.png" alt="" class="w-8 h-8 rounded block object-cover align-middle">
                        </button>
                        <ul class="dropdown-menu shadow-md shadow-black/5 z-30 hidden py-1.5 rounded-md bg-white border border-gray-100 w-full max-w-[140px]">
                            <li>
                                <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Profil</a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Ayarlar</a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Çıkış Yap</a>
                            </li>
                        </ul>
                    </li>
                </div>
        </ul>
        <div class="p-6">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
                <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
                    <div class="flex justify-between mb-6">
                        <div>
                            <div class="text-2xl font-semibold mb-1">[[${totalItems}]]</div>
                            <div class="text-sm font-medium text-gray-400">veritabanındaki takım sayısı</div>
                        </div>
                        <div class="dropdown">
                            <button type="button" class="dropdown-toggle text-gray-400 hover:text-gray-600"><i class="ri-more-fill"></i></button>
                            <ul class="dropdown-menu shadow-md shadow-black/5 z-30 hidden py-1.5 rounded-md bg-white border border-gray-100 w-full max-w-[140px]">
                                <li>
                                    <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Profile</a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Settings</a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div class="w-full bg-gray-100 rounded-full h-4">
                            <div class="h-full bg-blue-500 rounded-full p-1" style="width: 100%;">
                                <div class="w-2 h-2 rounded-full bg-white ml-auto"></div>
                            </div>
                        </div>
                        <span class="text-sm font-medium text-gray-600 ml-4">1%</span>
                    </div>
                </div>
                <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
                    <div class="flex justify-between mb-4">
                        <div>
                            <div class="flex items-center mb-1">
                                <div class="text-2xl font-semibold">[['€'+${toplamDeger}]]</div>
                            </div>
                            <div class="text-sm font-medium text-gray-400">tüm takımların toplam değeri</div>
                        </div>
                        <div class="dropdown">
                            <button type="button" class="dropdown-toggle text-gray-400 hover:text-gray-600"><i class="ri-more-fill"></i></button>
                            <ul class="dropdown-menu shadow-md shadow-black/5 z-30 hidden py-1.5 rounded-md bg-white border border-gray-100 w-full max-w-[140px]">
                                <li>
                                    <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Profile</a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Settings</a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <img src="/images/default-profile-photo.png" alt="" class="w-8 h-8 rounded-full object-cover block">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Galatasaray_Sports_Club_Logo.svg/220px-Galatasaray_Sports_Club_Logo.svg.png" alt="" class="w-8 h-8 rounded-full object-cover block -ml-3">
                        <img src="https://upload.wikimedia.org/wikipedia/tr/3/34/Sakaryaspor_Logosu.png" alt="" class="w-8 h-8 rounded-full object-cover block -ml-3">
                        <img src="https://upload.wikimedia.org/wikipedia/tr/f/f6/%C3%87aykur_Rizespor_Logo.png" alt="" class="w-8 h-8 rounded-full object-cover block -ml-3">
                        <img src="https://upload.wikimedia.org/wikipedia/tr/a/ab/TrabzonsporAmblemi.png" alt="" class="w-8 h-8 rounded-full object-cover block -ml-3">
                    </div>
                </div>
                <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
                    <div class="flex justify-between mb-6">
                        <div>
                            <div class="text-2xl font-semibold mb-1">2,345</div>
                            <div class="text-sm font-medium text-gray-400">girilecek takım sayısı</div>
                        </div>
                        <div class="dropdown">
                            <button type="button" class="dropdown-toggle text-gray-400 hover:text-gray-600"><i class="ri-more-fill"></i></button>
                            <ul class="dropdown-menu shadow-md shadow-black/5 z-30 hidden py-1.5 rounded-md bg-white border border-gray-100 w-full max-w-[140px]">
                                <li>
                                    <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Profile</a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Settings</a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="text-blue-500 font-medium text-sm hover:text-blue-600">Detayları Gör</a>
                </div>
            </div>
            <div class="sm:flex sm:items-center sm:justify-between">
                <div>
                    <div class="flex items-center gap-x-3">
                        <h2 class="text-lg font-medium text-gray-800 dark:text-white">[[#{teams.list.headline}]]</h2>

                        <span class="px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full dark:bg-gray-800 dark:text-blue-400">Toplam [[${totalItems}]] veri</span>
                    </div>

                    <p class="mt-1 text-sm text-gray-500 dark:text-gray-300">Veriler anlık olarak güncellenmektedir...</p>
                </div>
                <div class="flex items-center mt-4 gap-x-3 p-5">
                    <a th:href="@{/teams/add}">
                        <button class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            <span>[[#{teams.list.createNew}]]</span>
                        </button></a>
                </div>
            </div>

            <div class="relative shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            [[#{teams.id.label}]]
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Takım Logosu
                        </th>
                        <th scope="col" class="px-6 py-3">
                            [[#{teams.tName.label}]]
                        </th>
                        <th scope="col" class="px-6 py-3">
                            [[#{teams.tPoint.label}]]
                        </th>
                        <th scope="col" class="px-6 py-3">
                            [[#{teams.tValue.label}]]
                        </th>
                        <th scope="col" class="px-6 py-3">
                            [[#{teams.toCountry.label}]]
                        </th>
                        <th scope="col" class="px-6 py-3">
                            DÜZENLE
                        </th>
                        <th scope="col" class="px-6 py-3">
                            KALDIR
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:if="${teamses.empty}">[[#{teams.list.empty}]]</div>
                    <div th:if="${!teamses.empty}">
                        <tr th:each="teams : ${teamses}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                [[${teams.id}]]
                            </th>
                            <td class="px-6 py-4">
                                <img th:if="${teams.filePath == null or teams.filePath.isEmpty()}" src="/images/default-teams-logo.png" class="w-10 h-10">
                                <img th:if="${teams.filePath != null and !teams.filePath.isEmpty()}" th:src="@{|data:image;base64,${teams.filePath}|}" class="w-10 h-10">
                            </td>
                            <td class="px-6 py-4">
                                [[${teams.tName}]]
                            </td>
                            <td class="px-6 py-4">
                                [[${teams.tPoint}]]
                            </td>
                            <td class="px-6 py-4">
                                [['€'+${teams.tValue}]]
                            </td>
                            <td class="px-6 py-4">
                                [[${teams.takimHangiUlkede}]]
                            </td>
                            <td class="px-6 py-4">
                                <a th:href="@{/teams/edit/{id}(id=${teams.id})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">[[#{teams.list.edit}]]</a>
                            </td>
                            <td class="px-6 py-4">
                                <form th:action="@{/teams/delete/{id}(id=${teams.id})}"
                                      th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm inline">
                                    <button type="submit" class="font-medium text-red-600 dark:text-red-500 hover:underline">[[#{teams.list.delete}]]</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav class="isolate inline-flex -space-x-px rounded-md p-6" aria-label="Pagination">
                    <a th:if="${currentPage > 1}" th:href="@{'/teams/list/page/' + ${currentPage - 1}}" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                        <span th:unless="${currentPage > 1}" class="sr-only">Önceki Sayfa</span>
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                        </svg>
                    </a>
                    <a th:each="i: ${#numbers.sequence(1,totalPages)}"
                       th:href="@{'/teams/list/page/'+ ${i}}"
                       th:class="${currentPage == i} ? 'relative block rounded bg-neutral-800 px-3 py-1.5 text-sm font-medium text-neutral-50 transition-all duration-300 dark:bg-neutral-900' : 'relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-200  dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white'">
                        [[${i}]]
                    </a>
                    <a th:if="${currentPage < totalPages}" th:href="@{'/teams/list/page/' + ${currentPage + 1}}" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                        <span th:unless="${currentPage < totalPages}"class="sr-only">Sonraki Sayfa</span>
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </nav>
            </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>