<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{home.index.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="py-2 px-6 bg-white flex items-center shadow-md shadow-black/5 sticky top-0 left-0 z-30">
        <button type="button" class="text-lg text-gray-600 sidebar-toggle">
            <i class="ri-menu-line"></i>
        </button>
        <ul class="flex items-center text-sm ml-4">
            <li class="mr-2">
                <a th:href="@{/}" class="text-gray-400 hover:text-gray-600 font-medium">[[#{navigation.home}]]</a>
            </li>
        </ul>
        <ul class="ml-auto flex items-center">
            <li class="mr-1 dropdown">
                <button type="button" class="dropdown-toggle text-gray-400 w-8 h-8 rounded flex items-center justify-center hover:bg-gray-50 hover:text-gray-600">
                    <i class="ri-search-line"></i>
                </button>
                <div class="dropdown-menu shadow-md shadow-black/5 z-30 hidden max-w-xs w-full bg-white rounded-md border border-gray-100">
                    <form action="" class="p-4 border-b border-b-gray-100">
                        <div class="relative w-full">
                            <input type="text" class="py-2 pr-4 pl-10 bg-gray-50 w-full outline-none border border-gray-100 rounded-md text-sm focus:border-blue-500" placeholder="Arama...">
                            <i class="ri-search-line absolute top-1/2 left-4 -translate-y-1/2 text-gray-400"></i>
                        </div>
                    </form>
                    <li class="dropdown">
                        <button type="button" class="dropdown-toggle text-gray-400 w-8 h-8 rounded flex items-center justify-center hover:bg-gray-50 hover:text-gray-600">
                            <i class="ri-notification-3-line"></i>
                        </button>
                        <div class="dropdown-menu shadow-md shadow-black/5 z-30 hidden max-w-xs w-full bg-white rounded-md border border-gray-100">
                            <div class="flex items-center px-4 pt-4 border-b border-b-gray-100 notification-tab">
                                <button type="button" data-tab="notification" data-tab-page="notifications" class="text-gray-400 font-medium text-[13px] hover:text-gray-600 border-b-2 border-b-transparent mr-4 pb-1 active">Bildirimler</button>
                                <button type="button" data-tab="notification" data-tab-page="messages" class="text-gray-400 font-medium text-[13px] hover:text-gray-600 border-b-2 border-b-transparent mr-4 pb-1">Mesajlar</button>
                            </div>
                            <div class="my-2">
                                <ul class="max-h-64 overflow-y-auto" data-tab-for="notification" data-page="notifications">
                                    <li>
                                        <a href="#" class="py-2 px-4 flex items-center hover:bg-gray-50 group">
                                            <img src="/images/default-profile-photo.png" alt="" class="w-8 h-8 rounded block object-cover align-middle">
                                            <div class="ml-2">
                                                <div class="text-[13px] text-gray-600 font-medium truncate group-hover:text-blue-500">Oyuncu oluşturuldu</div>
                                                <div class="text-[11px] text-gray-400">serhat5454 kullanıcısı</div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="max-h-64 overflow-y-auto hidden" data-tab-for="notification" data-page="messages">
                                    <li>
                                        <a href="#" class="py-2 px-4 flex items-center hover:bg-gray-50 group">
                                            <img src="/images/default-profile-photo.png" alt="" class="w-8 h-8 rounded block object-cover align-middle">
                                            <div class="ml-2">
                                                <div class="text-[13px] text-gray-600 font-medium truncate group-hover:text-blue-500">Serhat KORKMAZ</div>
                                                <div class="text-[11px] text-gray-400">Problem var!</div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown ml-3">
                        <button type="button" class="dropdown-toggle flex items-center">
                            <img src="/images/default-profile-photo.png" alt="" class="w-8 h-8 rounded block object-cover align-middle">
                        </button>
                        <ul class="dropdown-menu shadow-md shadow-black/5 z-30 hidden py-1.5 rounded-md bg-white border border-gray-100 w-full max-w-[140px]">
                            <li>
                                <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Profil</a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Ayarlar</a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Çıkış Yap</a>
                            </li>
                        </ul>
                    </li>
                </div>
        </ul>
        <div class="min-w-[375px] p-6 md:min-w-[700px] xl:min-w-[800px] mt-3 grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-6">
            <div class="relative flex flex-grow !flex-row items-center rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] dark:border-[#ffffff33] dark:!bg-navy-800 dark:text-white dark:shadow-none">
                <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
                    <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700">
                        <span class="flex items-center text-brand-500 dark:text-white">
                        <svg
                                stroke="currentColor"
                                fill="#38bdf8"
                                stroke-width="0"
                                viewBox="0 0 24 24"
                                class="h-7 w-7"
                                height="1em"
                                width="1em"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M4 9h4v11H4zM16 13h4v7h-4zM10 4h4v16h-4z"></path>
                        </svg>
                        </span>
                    </div>
                </div>
                <div class="h-50 ml-4 flex w-auto flex-col justify-center">
                    <p class="font-dm text-sm font-medium text-gray-600">Veritabanındaki Toplam Veri</p>
                    <h4 class="text-xl font-bold text-navy-700 dark:text-white"><span th:text="${totalDocumentCount}"></span></h4>
                </div>
            </div>
            <div class="relative flex flex-grow !flex-row flex-col items-center rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] dark:border-[#ffffff33] dark:!bg-navy-800 dark:text-white dark:shadow-none">
                <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
                    <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700">
                        <span class="flex items-center text-brand-500 dark:text-white">
                        <svg
                                stroke="currentColor"
                                fill="#db2777"
                                stroke-width="0"
                                viewBox="0 0 512 512"
                                class="h-6 w-6"
                                height="1em"
                                width="1em"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path d="M298.39 248a4 4 0 002.86-6.8l-78.4-79.72a4 4 0 00-6.85 2.81V236a12 12 0 0012 12z"></path>
                            <path d="M197 267a43.67 43.67 0 01-13-31v-92h-72a64.19 64.19 0 00-64 64v224a64 64 0 0064 64h144a64 64 0 0064-64V280h-92a43.61 43.61 0 01-31-13zm175-147h70.39a4 4 0 002.86-6.8l-78.4-79.72a4 4 0 00-6.85 2.81V108a12 12 0 0012 12z"></path>
                            <path d="M372 152a44.34 44.34 0 01-44-44V16H220a60.07 60.07 0 00-60 60v36h42.12A40.81 40.81 0 01231 124.14l109.16 111a41.11 41.11 0 0111.83 29V400h53.05c32.51 0 58.95-26.92 58.95-60V152z"></path>
                        </svg>
                        </span>
                    </div>
                </div>
                <div class="h-50 ml-4 flex w-auto flex-col justify-center">
                    <p class="font-dm text-sm font-medium text-gray-600">Toplam Lig Sayısı</p>
                    <h4 class="text-xl font-bold text-navy-700 dark:text-white">[[${totalLeagues}]]</h4>
                </div>
            </div>
            <div class="relative flex flex-grow !flex-row flex-col items-center rounded-[10px] rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] dark:border-[#ffffff33] dark:!bg-navy-800 dark:text-white dark:shadow-none">
                <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
                    <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700">
                        <span class="flex items-center text-brand-500 dark:text-white">
                        <svg
                                stroke="currentColor"
                                fill="#0369a1"
                                stroke-width="0"
                                viewBox="0 0 24 24"
                                class="h-7 w-7"
                                height="1em"
                                width="1em"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M4 9h4v11H4zM16 13h4v7h-4zM10 4h4v16h-4z"></path>
                        </svg>
                        </span>
                    </div>
                </div>
                <div class="h-50 ml-4 flex w-auto flex-col justify-center">
                    <p class="font-dm text-sm font-medium text-gray-600">Toplam Oyuncu Sayısı</p>
                    <h4 class="text-xl font-bold text-navy-700 dark:text-white">[[${totalPlayers}]]</h4>
                </div>
            </div>
            <div class="relative flex flex-grow !flex-row flex-col items-center rounded-[10px] rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] dark:border-[#ffffff33] dark:!bg-navy-800 dark:text-white dark:shadow-none">
                <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
                    <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700">
                        <span class="flex items-center text-brand-500 dark:text-white">
                        <svg
                                stroke="currentColor"
                                fill="#1d4ed8"
                                stroke-width="0"
                                viewBox="0 0 24 24"
                                class="h-6 w-6"
                                height="1em"
                                width="1em"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"></path>
                        </svg>
                        </span>
                    </div>
                </div>
                <div class="h-50 ml-4 flex w-auto flex-col justify-center">
                    <p class="font-dm text-sm font-medium text-gray-600">Gün İçinde Girilen Veri</p>
                    <h4 class="text-xl font-bold text-navy-700 dark:text-white">[[${totalDocumentsCreatedToday}]]</h4>
                    <span th:text="${#temporals.format(today, 'dd-MM-yyyy')}" id="currentDateTime"></span>
                </div>
            </div>
        </div>
        <div class="p-6">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-6">
        <div class="bg-white border-gray-100 shadow-md shadow-black/5 p-6 rounded-md">
            <div class="flex justify-between mb-4 items-start">
                <div class="font-medium">[[#{players.list.headline}]]</div>
                <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                    <a th:href="@{/players}" target="_blank"><button class="text-white transition-colors duration-200 bg-blue-500 rounded-lg text-xs font-bold uppercase px-3 py-1 outline-none hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600" type="button">Tümünü Gör</button></a>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="w-full min-w-[540px]">
                    <thead>
                    <tr>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">FOTOĞRAF</th>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">[[#{players.pName.label}]]</th>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">[[#{players.pSurname.label}]]</th>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">[[#{players.pPlayerAge.label}]]</th>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">[[#{players.toTeams.label}]]</th>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">[[#{players.pValue.label}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:if="${playerses == null or playerses.empty}">[[#{players.list.empty}]]</div>
                    <div th:if="${playerses != null and not #lists.isEmpty(playerses)}">
                        <tr th:each="players: ${playerses}">
                            <td class="py-2 px-4 border-b border-b-gray-50">
                                <div class="flex items-center">
                                    <img th:if="${players.filePath == null or players.filePath.isEmpty()}" src="/images/default-teams-logo.png" class="w-8 h-8">
                                    <img th:if="${players.filePath != null and !players.filePath.isEmpty()}" th:src="@{|data:image;base64,${players.filePath}|}" class="w-8 h-8">
                                </div>
                            </td>
                        <td class="py-2 px-4 border-b border-b-gray-50">
                               <span class="text-[13px] font-medium text-gray-400">[[${players.pName}]]</span>
                        </td>
                        <td class="py-2 px-4 border-b border-b-gray-50">
                            <span class="text-[13px] font-medium text-gray-400">[[${players.pSurname}]]</span>
                        </td>
                        <td class="py-2 px-4 border-b border-b-gray-50">
                            <span class="text-[13px] font-medium text-gray-400">[[${players.pPlayerAge}]]</span>
                        </td>
                        <td class="py-2 px-4 border-b border-b-gray-50">
                            <span class="text-[13px] font-medium text-gray-400">[[${players.oyuncuHangiTakimda}]]</span>
                        </td>
                        <td class="py-2 px-4 border-b border-b-gray-50">
                            <span class="text-[13px] font-medium text-gray-400">[['€'+${players.pValue}]]</span>
                        </td>
                    </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md">
            <div class="flex justify-between mb-4 items-start">
                <div class="font-medium">[[#{teams.list.headline}]]</div>
                <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                    <a th:href="@{/teams}" target="_blank"><button class="text-white transition-colors duration-200 bg-blue-500 rounded-lg text-xs font-bold uppercase px-3 py-1 outline-none hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600" type="button">Tümünü Gör</button></a>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="w-full min-w-[540px]">
                    <thead>
                    <tr>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tl-md rounded-bl-md">Takım Logosu</th>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">[[#{teams.tName.label}]]</th>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">[[#{teams.tValue.label}]]</th>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">[[#{teams.toCountry.label}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:if="${teamses == null or teamses.empty}" class="overflow-x-auto">[[#{teams.list.empty}]]</div>
                        <div th:if="${teamses != null and !teamses.empty}" class="overflow-x-auto">
                    <tr th:each="teams : ${teamses}">
                        <td class="py-2 px-4 border-b border-b-gray-50">
                            <div class="flex items-center">
                                <img th:if="${teams.filePath == null or teams.filePath.isEmpty()}" src="/images/default-teams-logo.png" class="w-8 h-8">
                                <img th:if="${teams.filePath != null and !teams.filePath.isEmpty()}" th:src="@{|data:image;base64,${teams.filePath}|}" class="w-8 h-8">
                            </div>
                        </td>
                        <td class="py-2 px-4 border-b border-b-gray-50">
                            <span class="text-[13px] font-medium text-gray-400">[[${teams.tName}]]</span>
                        </td>
                        <td class="py-2 px-4 border-b border-b-gray-50">
                            <span class="text-[13px] font-medium text-gray-400">[['€'+${teams.tValue}]]</span>
                        </td>
                        <td class="py-2 px-4 border-b border-b-gray-50">
                            <span class="text-[13px] font-medium text-gray-400">[[${teams.takimHangiUlkede}]]</span>
                        </td>
                    </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md">
            <div class="flex justify-between mb-4 items-start">
                <div class="font-medium">[[#{league.list.headline}]]</div>
                <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                    <a th:href="@{/leagues}" target="_blank"><button class="text-white transition-colors duration-200 bg-blue-500 rounded-lg text-xs font-bold uppercase px-3 py-1 outline-none hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600" type="button">Tümünü Gör</button></a>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="w-full min-w-[540px]">
                    <thead>
                    <tr>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tl-md rounded-bl-md">[[#{league.leagueName.label}]]</th>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">[[#{league.countryLeague.label}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:if="${leagues == null or leagues.empty}" class="overflow-x-auto">[[#{league.list.empty}]]</div>
                    <div th:if="${leagues != null and !leagues.empty}" class="overflow-x-auto">
                        <tr th:each="league : ${leagues}">
                            <td class="py-2 px-4 border-b border-b-gray-50">
                                <div class="flex items-center">
                                    <span class="text-[13px] font-medium text-gray-400">[[${league.leagueName}]]</span>
                                </div>
                            </td>
                            <td class="py-2 px-4 border-b border-b-gray-50">
                                <span class="text-[13px] font-medium text-gray-400">[[${league.ligHangiUlkede}]]</span>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md">
            <div class="flex justify-between mb-4 items-start">
                <div class="font-medium">[[#{country.list.headline}]]</div>
                <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                    <a th:href="@{/countries}" target="_blank"><button class="text-white transition-colors duration-200 bg-blue-500 rounded-lg text-xs font-bold uppercase px-3 py-1 outline-none hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600" type="button">Tümünü Gör</button></a>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="w-full min-w-[540px]">
                    <thead>
                    <tr>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tl-md rounded-bl-md">[[#{country.cName.label}]]</th>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">[[#{country.cValue.label}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:if="${countries == null or countries.empty}" class="overflow-x-auto">[[#{country.list.empty}]]</div>
                    <div th:if="${countries != null and !countries.empty}" class="overflow-x-auto">
                        <tr th:each="country : ${countries}">
                            <td class="py-2 px-4 border-b border-b-gray-50">
                                <div class="flex items-center">
                                    <span class="text-[13px] font-medium text-gray-400">[[${country.cName}]]</span>
                                </div>
                            </td>
                            <td class="py-2 px-4 border-b border-b-gray-50">
                                <span class="text-[13px] font-medium text-gray-400">[['€'+${country.cValue}]]</span>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md">
            <div class="flex justify-between mb-4 items-start">
                <div class="font-medium">[[#{competitions.list.headline}]]</div>
                <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                    <a th:href="@{/competitions}" target="_blank"><button class="text-white transition-colors duration-200 bg-blue-500 rounded-lg text-xs font-bold uppercase px-3 py-1 outline-none hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600" type="button">Tümünü Gör</button></a>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="w-full min-w-[540px]">
                    <thead>
                    <tr>
                        <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">[[#{competitions.competitionName.label}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:if="${competitionses == null or competitionses.empty}" class="overflow-x-auto">[[#{competitions.list.empty}]]</div>
                    <div th:if="${competitionses != null and !competitionses.empty}" class="overflow-x-auto">
                        <tr th:each="competitions : ${competitionses}">
                            <td class="py-2 px-4 border-b border-b-gray-50">
                                <span class="text-[13px] font-medium text-gray-400">[[${competitions.competitionName}]]</span>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

</body>
</html>